.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container input {
  width: 800px;
  margin: 20px 0;
  padding: 5px;
  border-radius: 10px;
}
.container button {
  width: 150px;
  padding: 5px;
  border-radius: 10px;
}
